<div class="describe_group">
    <table class="table table-bordered table-striped">
        {% for group in groups %}
        <tr>
            <th>Owner</th>
            <td colspan="2">{{ group.owner_id }}</td>
            <th>Name</th>
            <td colspan="2">{{ group.name }}</td>
            <th>Action</th>
        </tr>
        {% for rule in group.rules %}
        <tr>
            <th>Protocol</th>
            <td>{{ rule.ip_protocol }}</td>
            <th>Port</th>
            <td>{{ rule.from_port }} - {{ rule.to_port }}</td>

            {% for grant in rule.grants %}

            {% if grant.owner_id or grant.name %}
            {% if grant.owner_id %}
            <td>{{ grant.owner_id }}</td>
            {% endif %}
            {% if grant.name %}
            <td>{{ grant.owner_id }}</td>
            {% endif %}
            {% else %}
            <th>CIDR</th>
            <td>{{ grant.cidr_ip }}</td>
            <td><button data-loading-text="loading..." class="btn btn-danger revoke_rules" ip_protocol="{{ rule.ip_protocol }}" from_port="{{ rule.from_port }}" to_port="{{ rule.to_port }}" cidr_ip="{{ grant.cidr_ip }}">Revoke</button></td>
            {% endif %}
        </tr>
        {% endfor %}
        {% endfor %}
        {% endfor %}
    </table>
</div>

<table class="table table-bordered table-striped">
    <thead>
    <th>Protocol</th>
    <th>From Port</th>
    <th>To Port</th>
    <th>CIDR IP</th>
    <th>Action</th>
</thead>
<tbody>
    <tr>
        <td>
            <select id="ip_protocol">
                <option value="tcp">TCP</option>
                <option value="udp">UDP</option>
                <option value="icmp">ICMP</option>
            </select>
        </td>
        <td><input id="from_port" style="width: auto;" type="text" /></td>
        <td><input id="to_port" style="width: auto;" type="text" /></td>
        <td><input id="cidr_ip" style="width: auto;" type="text" /></td>
        <td><button class="btn btn-primary save_rules" href="#" value="">Save</button></td>
    </tr>
</tbody>
</table>


<script>
    $(document).ready(function() {
        
    });
        
    $("button.revoke_rules").click(function() {
        var that = $(this);
        var params = {
            'group_name': $("#selected_group").attr("value"),
            'ip_protocol': that.attr("ip_protocol"),
            'from_port': that.attr("from_port"),
            'to_port': that.attr("to_port"),
            'cidr_ip': that.attr("cidr_ip")
        }
        $.ajax({
            url: '/groups/revoke_rules',
            type: 'POST',
            data: params,
            success: function(data) {
                $.ajax({
                    url: '/groups/describe_group',
                    type: 'POST',
                    data: { 'group_name': $("#selected_group").attr("value") },
                    success: function(data) {
                        $("div.describe_group").html(data);
                    },
                    crossDomain: false
                });
            },
            crossDomain: false
        });
    });
        
    $("button.save_rules").click(function() {
        var params = {
            'group_name': $("#selected_group").attr("value"),
            'ip_protocol':$("select#ip_protocol").val(),
            'from_port':$("input#from_port").val(),
            'to_port':$("input#to_port").val(),
            'cidr_ip':$("input#cidr_ip").val()
        }
        
        $.ajax({
            url: '/groups/authorize_group',
            type: 'POST',
            data: params,
            success: function(data) {
                $.ajax({
                    url: '/groups/describe_group',
                    type: 'POST',
                    data: { 'group_name': $("#selected_group").attr("value") },
                    success: function(data) {
                        $("div.describe_group").html(data);
                    },
                    crossDomain: false
                });
                $("input#from_port").val("");
                $("input#to_port").val("");
                $("input#cidr_ip").val("")
            },
            crossDomain: false
        });
    });
    $("button.modal_back").click(function() {
        $.post("/groups/groups", function(data) {
            $("div.launch_modal_div").html(data);
        });
    });
</script>